extend layout
block content
  p
    | This is my first web site that i am trying to build
    | I need to figure out what to put in here
  p
    | This template is being build by Jade
block sidebar
  .widget
    h1 Widget
    p
      | I need to add something to this widget
      | 
    p
      | 
      | 
