extend layout
block append styles

    link(rel='stylesheet', href='/stylesheets/style.css')   
  
block content
  p
    | This is my first web site that i am trying to build
  iframe(width='560', height='315', src='https://www.youtube.com/embed/Ev7UCCbdRDg', frameborder='0', allowfullscreen='allowfullscreen')
  p
    | This template is being build by Jade
block .rightSidebar
  .widget
    h1 Widget
    p
      | I need to add something to this widget
      | 
    p
      | 
      | 
