extend layout
block append styles

    link(rel='stylesheet', href='/stylesheets/style.css')   
  
block content

  p
    b
      i TVR Sagaris
  iframe(width='560', height='315', src='https://www.youtube.com/embed/Ev7UCCbdRDg', frameborder='0', allowfullscreen='allowfullscreen')
  
  p  
    b
      i   Two Scots Talking Pop 
    br  
    | I personally love this video, it's what put me onto youtube honestly. In a way that i saw there
    | was actoually people out there making funny short skits.  
  iframe(width='560', height='315', src='https://www.youtube.com/embed/S4AOUNMBOo8', frameborder='0', allowfullscreen='allowfullscreen')
  
  p
    | This template is being build by Jade - Suck My Dick


block .rightSidebar
  .widget
    h1 Widget
    p
      b I need to add something to this widget
      | 
    p
