doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')  
  body
    header
      h1 Govna LLC
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
      navBar
        block navBar
          div.container
                      ul.col-md-12.row
                          a(href="#") 
                            li.col-md-3.col-md-offset-1 About
                          a(href="#") 
                            li.col-md-3 Fuck Off
                          a(href="#") 
                            li.col-md-3 Contact Me
      
