doctype
html
  head
    title #{title} - My Site
      link(rel='stylesheet', href='/stylesheets/style.css')  
  header
    h1 Govna LLC
  navBar
        block navBar
          div.container
                      ul.col-md-12.row
                          a(href="#") 
                            li.col-md-3.col-md-offset-1 About
                          a(href="#") 
                            li.col-md-3 Fuck Off
                          a(href="#") 
                            li.col-md-3 Contact Me
  body
  sidebar
    .containerRight
      block containerRight
      .sidebar
        block sidebar
      .container
        .styles 
          block styles
        .main-content
          block content
      footer
        p Running on node with Express, Jade and Stylus
        
